streamdeckbuttonwidget:selected {
  background-color: transparent;
}

streamdeckbuttonwidget:selected > picture {
  outline: 2px solid @accent_color;
}

streamdeckbuttonwidget:selected:focus:focus-visible {
  outline: none;
}

streamdeckbuttonwidget:drop(active) {
  box-shadow: none;
}

streamdeckbuttonwidget:drop(active) picture {
  background-color: alpha(@card_bg_color, 2.0);
  filter: brightness(125%);
  transition: 250ms;
}

streamdeckbuttoneditor .cutout {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}

streamdeckbuttoneditor button.remove-button {
  min-height: 44px;
  border-radius: 12px;
}

splitbutton.omnibar {
  background: alpha(currentColor, 0.075);
}

popover.custom-icon-popover > contents {
  padding: 0;
}

popover.custom-icon-popover gridview {
  background-color: @popover_bg_color;
}

popover.custom-icon-popover gridview,
popover.custom-icon-popover gridview image {
  padding: 12px;
}
