streamdeckeditor flowbox flowboxchild:selected {
  background-color: transparent;
}

streamdeckeditor flowbox flowboxchild:selected > picture {
  outline: 2px solid @accent_color;
}

streamdeckeditor flowbox flowboxchild:selected:focus:focus-visible {
  outline: none;
}

streamdeckbuttoneditor .cutout {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}

splitbutton.omnibar {
  background: alpha(currentColor, 0.075);
}

popover.custom-icon-popover > contents {
  padding: 0;
}

popover.custom-icon-popover gridview {
  background-color: @popover_bg_color;
}

popover.custom-icon-popover gridview,
popover.custom-icon-popover gridview image {
  padding: 12px;
}
